/* main.css */
@import url('header.css');
@import url('jumbotron.css');
@import url('footer.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    flex: 1;
    padding: 10px;
    margin: 10px;
}
